@model Citations.Models.Author

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ScannedAuthorimage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ScannedAuthorimage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorBio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorBio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PointerH)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PointerH)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Authorid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

@foreach (var co in ViewBag.co)
{

    <p>@co.Name</p>

}